@import "./_variables.scss";
@import "./_mixins.scss";

* {
  margin: 0px;
  // padding: 0px;
  // box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
  overflow-x: initial;
}

.container {
  min-height: 92vh;
  // IMAGE CONTAINERS
  .image-container-vertical {
    width: 35%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .image-container-horizontal {
    width: 50%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .inner-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92vh;
    position: relative;
  }
  //TEXT CONTAINERS
  .content-container {
    width: 550px;
    .title-container {
      @include title-font;
      margin-bottom: 3rem;
    }
    .text-container {
      @include text-font;
      line-height: 1.5;
      text-align: justify;
    }
    .subtitle-container {
      @include subtitle-font;
    }
  }

  .list-container {
    @include text-font;
    ul {
      list-style-type: none;
      li {
        margin-bottom: 15px;
      }
    }
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.icon {
  font-size: 6rem;
  color: $subtitle-color;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

//COUNTER STYLING (CART AND PRODUCT DETAIL)
.counter {
  display: flex;
  align-items: center;
}

//HOMEPAGE CONTENT
#landingpage {
  width: 100%;
  height: 94vh;
  background-image: url("/images/nikolett-harmat.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .quote-text {
    text-align: right;
    position: absolute;
    bottom: 200px;
    right: 80px;
    color: $white;
    @include quote-font;
  }
}

#about {
  display: block;
  .overview-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
    padding: 10%;
  }
}

//HERBARIUM
#herbarium {
  .search-container {
    position: absolute;
    right: 80px;
    bottom: 60px;
    width: 35%;
    @include text-font;
  }
  #herbarium-img {
    width: 500px;
    margin-left: 20px;
    margin-top: 30px;
  }
  #herbarium-title {
    @include page-title;
    transform: rotate(270deg);
    font-size: 11rem;
    height: 120px;
    position: absolute;
    bottom: 260px;
    left: 350px;
  }
  .result-list {
    list-style-type: none;
    position: absolute;
    right: 34%;
    top: 140px;
  }
}

//PLANT DETAIL
#plant-detail {
  #detail-img {
    width: 400px;
    margin-left: 80px;
  }
  .content-container {
    background-color: $white;
    height: 70%;
    width: 50%;
    margin-right: 80px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .arrow-container {
      height: 180px;
      width: 30px;
      position: absolute;
      right: 23px;
      bottom: 80px;
      cursor: pointer;
      .arm {
        width: 14px;
        border: 0.5px solid rgb(194, 192, 192);
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0px;
          bottom: -1px;
          height: 2px;
          width: 0px;
          background: #b3072f;
        }
      }
      .left-arm {
        transform: rotate(235deg);
        position: absolute;
        left: 3px;
        bottom: 8px;
      }
      .right-arm {
        transform: rotate(300deg);
        position: absolute;
        left: 11px;
        bottom: 9px;
      }
      .stem {
        position: absolute;
        bottom: 77px;
        right: -61px;
        width: 150px;
        border: 0.5px solid rgb(194, 192, 192);
        transform: rotate(90deg);

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0px;
          bottom: -1px;
          height: 2px;
          width: 68px;
          background: #b3072f;
        }
      }
    }
    &:hover {
      .stem {
        &::after {
          animation: scroll-animation-stem 2s forwards;
        }
      }
      .arm {
        &::after {
          animation: scroll-animation-arm 1.5s forwards;
          animation-delay: 1.5s;
        }
      }
    }
  }
}

@keyframes scroll-animation-stem {
  0% {
    left: -1px;
  }
  100% {
    left: 82px;
  }
}

@keyframes scroll-animation-arm {
  0% {
    width: 0%;
  }
  100% {
    width: 15px;
  }
}

//SHOP
.section-shop {
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 93vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    background-size: cover;
    opacity: 0.95;
  }
}
.tea:before {
  content: "";
  background-image: url("/images/bundo-kim.jpeg");
  // margin-left: 10px;
}
.art:before {
  content: "";
  background-image: url("/images/severin-candrian.jpeg");
  // margin-right: 10px;
}
.section-title {
  text-transform: uppercase;
  @include title-font;
  color: black;
  background-color: rgba(255, 255, 255, 0.548);
  padding: 20px;
  cursor: pointer;
  text-align: center;
}

//SHOP SECTION

.hero {
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // .shop-section-img {
  //   width: 50%;
  //   display: block;
  //   margin: 0 auto;
  // }
  &:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../public/images/judith-zimmermann.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
  }
  .border-outer {
    border: 1px solid $white;
    position: relative;
    width: 450px;
    height: 150px;
    border-radius: 0px 30px 0px 30px;
    .border-inner {
      width: 410px;
      border: 1px solid $light-green;
      border-radius: 0px 30px 0px 30px;
      padding: 30px;
      position: absolute;
      bottom: 11px;
      right: -10px;
    }
  }
  .category {
    @include page-title;
    color: $white;
    text-align: center;
  }
}

.shop-overview {
  padding: 5%;
  margin-top: 100px;
}
.items-wrapper {
  width: 80%;
  margin: 0 auto;
  @include make-col(4, 70px);
  text-align: center;
}

//PRODUCT DETAIL
.product-detail-inner {
  min-height: 93vh;
  display: flex;
  .left-section {
    min-height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    .product-detail-img {
      width: 500px;
      text-align: center;
      img {
        width: 70%;
        object-fit: contain;
      }
    }
  }
  .right-section {
    width: 30%;
    min-height: 100%;
    margin-left: auto;
    .nav-box {
      border-bottom: 1px solid black;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        font-size: 2rem;
      }
    }
  }
}

//CART
.inner-cart {
  width: 60vw;
  min-height: 60vh;
  margin: 70px auto 0px auto;
  border: 1px solid black;
  padding: 30px;
  position: relative;
  .empty-cart {
    text-align: center;
    // display: flex;
    // align-items: center;
    .empty-msg {
      @include text-font;
      margin-top: 3rem;
      color: $accent-pink;
    }
    img {
      width: 200px;
    }
  }
  .cart-title {
    @include subtitle-font;
    color: $dark-green;
    text-align: center;
    margin-bottom: 100px;
    text-transform: uppercase;
  }

  .flex {
    display: flex;
    @include text-font;
  }

  .cart-content {
    flex-direction: column;
    // justify-content: space-between;
    height: 40vh;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .btn-checkout {
    border: 1px solid black;
    padding: 10px;
    @include text-font;
    position: absolute;
    right: -1px;
    bottom: -60px;
    &:hover {
      background-color: $grey;
      color: $dark-green;
    }
  }
  .quantity {
    margin-right: 8px;
    padding-right: 8px;
    border-right: solid 1px black;
    display: flex;
    p {
      margin-right: 5px;
    }
  }
  .cart-products {
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: dashed 1px black;
    padding-bottom: 10px;
    .product-details {
      justify-content: flex-start;
      .product-category {
        font-size: 12px;
      }
    }
    .product-price {
      justify-content: flex-end;
      align-items: center;
      .icon {
        margin-left: 10px;
        cursor: pointer;
        font-size: 18px;
        color: $accent-pink;
      }
    }
  }
  .cart-totals {
    justify-content: flex-end;
    border-top: 1px solid black;
    padding-top: 15px;
    margin-top: auto;
  }
}

//CHECKOUT

.checkout-inner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .succes-msg {
    text-align: center;
    margin: 9rem;
    padding: 2rem;
    @include subtitle-font;
    color: $accent-pink;
    border: 1px dashed $accent-yellow;
  }

  .checkout-overview {
    @include text-font;
    margin-left: 10%;
    min-height: 400px;
    width: 30%;
    border: 1px solid $title-color;
    padding: 30px;
    .checkout-wrapper {
      min-height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        width: 100px;
        margin-left: auto;
      }
    }
    .title-container {
      @include subtitle-font;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .text-container {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }
    .total {
      font-weight: bold;
      border-top: 2px solid $title-color;
      padding-top: 10px;
    }
  }
}
