@import "./variables.scss";

* {
  margin: 0px;
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: $white;
}

//HOMEPAGE CONTENT
.landingpage {
  height: 100vh;
  background-image: url("../public/images/nikolett-harmat.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.quote {
  position: absolute;
  bottom: 100px;
  right: 80px;
  color: $white;
  @include quote-font;
}

.overview-section {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  padding: 200px;
}

.overview-img {
  width: 25%;
}

.overview-box {
  width: 35%;
}

//HERBARIUM CONTENT
.herbarium-container {
  // display: flex;
  // position: relative;
  // height: 100vh;
}
.herbarium-img {
  height: 97vh;
  margin-left: 20px;
}

.page-title {
  @include page-title;
  // margin-left: 50px;
  height: 120px;
  position: absolute;
  bottom: 230px;
  left: 290px;
}

.result-list {
  list-style-type: none;
  position: absolute;
  right: 34%;
  top: 140px;
}
