@import "./_variables.scss";
@import "./_mixins.scss";

* {
  margin: 0px;
}

:root {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
  // background-color: $white;
}

.container {
  min-height: 92vh;
  // display: flex;
  // align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  // IMAGE CONTAINERS
  .image-container-vertical {
    width: 35%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .image-container-horizontal {
    width: 50%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .inner-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    position: relative;
  }
  //TEXT CONTAINERS
  .content-container {
    width: 550px;
    .title-container {
      @include title-font;
      margin-bottom: 3rem;
    }
    .text-container {
      @include text-font;
      line-height: 1.5;
      text-align: justify;
    }
    .subtitle-container {
      @include subtitle-font;
    }
  }

  .list-container {
    @include text-font;
    ul {
      list-style-type: none;
      li {
        margin-bottom: 15px;
      }
    }
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.icon {
  font-size: 6rem;
  color: $subtitle-color;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.counter {
  display: flex;
  align-items: center;
}

//HOMEPAGE CONTENT
#landingpage {
  width: 100%;
  height: 93vh;
  background-image: url("../public/images/nikolett-harmat.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .quote-text {
    text-align: right;
    position: absolute;
    bottom: 200px;
    right: 80px;
    color: $white;
    @include quote-font;
  }
}

#about {
  display: block;
  .overview-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
    padding: 10%;
  }
}

//HERBARIUM
#herbarium {
  .search-container {
    position: absolute;
    right: 80px;
    bottom: 60px;
    width: 35%;
    @include text-font;
  }
  #herbarium-img {
    width: 550px;
    margin-left: 20px;
  }
  #herbarium-title {
    @include page-title;
    height: 120px;
    position: absolute;
    bottom: 224px;
    left: 25%;
  }
  .result-list {
    list-style-type: none;
    position: absolute;
    right: 34%;
    top: 140px;
  }
}

//PLANT DETAIL
#plant-detail {
  #detail-img {
    width: 500px;
    margin-left: 80px;
  }
  .content-container {
    background-color: $white;
    height: 70%;
    width: 50%;
    margin-right: 80px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .arrow-container {
      // background-color: grey;
      height: 180px;
      width: 30px;
      position: absolute;
      right: 23px;
      bottom: 80px;
      // background-color: grey;
      .arm {
        width: 20px;
        border: 0.5px solid black;
      }
      .left-arm {
        transform: rotate(55deg);
        position: absolute;
        left: -2px;
        bottom: 9px;
      }
      .right-arm {
        transform: rotate(-55deg);
        position: absolute;
        left: 10px;
        bottom: 9px;
      }
      .stem {
        position: absolute;
        bottom: 77px;
        right: -61px;
        width: 150px;
        border: 0.5px solid black;
        transform: rotate(90deg);
      }
    }
  }
}

//SHOP LANDING PAGE
.section-shop {
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    background-size: cover;
    opacity: 0.95;
  }
}
.tea:before {
  content: "";
  background-image: url("/images/bundo-kim.jpeg");
  // margin-left: 10px;
}
.art:before {
  content: "";
  background-image: url("/images/severin-candrian.jpeg");
  // margin-right: 10px;
}
.section-title {
  text-transform: uppercase;
  @include title-font;
  color: black;
  background-color: rgba(255, 255, 255, 0.548);
  padding: 20px;
  cursor: pointer;
  text-align: center;
}

//SHOP SECTION

.hero {
  width: 100%;
  height: 80vh;
  // max-height: 90vh;
  background-color: $white;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  .shop-section-img {
    display: block;
    height: 80vh;
    margin: 0 auto;
    // width: 30%;
  }
  .section-title {
    @include quote-font;
    text-transform: uppercase;
  }
}

.shop-overview {
  // background-color: red;
  padding: 5%;
  margin-top: 100px;
}

.items-wrapper {
  width: 80vw;
  margin: 0 auto;
  @include make-col(3, 70px);
  text-align: center;
}

//PRODUCT DETAIL
.product-inner {
  min-height: 100%;
  display: flex;
  .left-section {
    min-height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    .img-container {
      width: 700px;
      height: 500px;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .right-section {
    width: 30%;
    min-height: 100%;
    margin-left: auto;
    .nav-box {
      border-bottom: 1px solid black;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

//CART
.inner-cart {
  width: 60vw;
  min-height: 60vh;
  margin: 70px auto 0px auto;
  border: 1px solid black;
  padding: 30px;
  position: relative;
  .cart-title {
    @include subtitle-font;
    text-align: center;
    margin-bottom: 100px;
    span {
      text-transform: capitalize;
    }
  }

  .flex {
    display: flex;
    @include text-font;
  }

  .cart-content {
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    // width: 90%;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .btn-checkout {
    border: 1px solid black;
    padding: 10px;
    @include text-font;
    position: absolute;
    right: -1px;
    bottom: -60px;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  .quantity {
    margin-right: 8px;
    padding-right: 8px;
    border-right: solid 1px black;
  }
  .cart-products {
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: dashed 1px black;
    padding-bottom: 10px;
    .product-details {
      justify-content: flex-start;
      .product-category {
        font-size: 12px;
      }
    }
    .product-price {
      justify-content: flex-end;
      align-items: center;
      .icon {
        margin-left: 10px;
        cursor: pointer;
        font-size: 18px;
        color: $accent-pink;
      }
    }
  }
  .cart-totals {
    justify-content: flex-end;
    border-top: 1px solid black;
    padding-top: 15px;
    margin-top: 50px;
  }
}

//CHECKOUT

.checkout-inner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .checkout-form {
    width: 40%;
    margin-right: 60px;
    input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 10px;
      // &::-webkit-validation-bubble-message {
      //   display: none;
      // }
    }
    .error-msg {
      color: $accent-pink;
    }
    .btn-order {
      border: 1px solid black;
      padding: 10px;
      margin-top: 20px;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
