@import "./_variables.scss";

.inner-content {
  position: relative;
  padding-right: 80px;
  padding-top: 15px;
  height: 90%;
  width: 80%;
  @include text-font;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .text-container {
    .flex {
      display: flex;
    }
    align-items: center;
    .subtitle-container {
      width: 25%;
      // position: relative;
      margin-right: 20px;
      .content-title {
        @include subtitle-font;
        color: $accent-yellow;
        font-size: 4rem;
        text-transform: uppercase;
        width: 590px;
        transform: rotate(270deg);
        position: absolute;
        left: -257px;
        bottom: 300px;
      }
    }
    .list-container {
      min-height: 550px;
    }
    .symboliek {
      margin-left: 23px;
      margin-top: 50px;
      .subtitle-container {
        color: $accent-pink;
        text-transform: uppercase;
      }
    }
  }
}
