@import "./variables.scss";

.footer-container {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  @include text-font;
  font-size: 1.3rem;
  .footer-text {
    position: relative;
    .footer-title {
      font-size: 2rem;
      font-weight: 400;
    }
    &:after {
      content: "";
      width: 200px;
      height: 18px;
      background-color: $light-orange;
      bottom: 0px;
      left: -3px;
      position: absolute;
      z-index: -1;
    }
  }
}
