@import "./variables";
@import "./mixins";

@media screen and (max-width: 1600px) {
  .container .image-container-horizontal {
    width: 44%;
  }
}

/***
*BIG LAPTOP SCREEN
********************************/
@media screen and (max-width: 1500px) {
  //***HERBARIUM****//

  #herbarium #herbarium-img {
    width: 400px;
  }
  #herbarium #herbarium-title {
    bottom: 225px;
  }

  //***PLANT DETAIL****//
  #plant-detail #detail-img {
    width: 350px;
  }
  .content-container {
    width: 45%;
    margin-left: 9rem;
    .inner-content .text-container .subtitle-container .content-title {
      font-size: 3rem;
      bottom: 290px;
    }
  }
}

/***
*13" SCREEN
********************************/
@media screen and (max-width: 1366px) {
  //***HERBARIUM****//

  #herbarium #herbarium-title {
    font-size: 9rem;
    bottom: 250px;
    left: 54%;
    transform: rotate(0deg);
  }
  #herbarium .search-container {
    width: 39%;
  }
  .content-container {
    width: 45%;
    .title-container {
      @include title-font;
      font-size: 1.4rem;
      margin-bottom: 3rem;
    }
    .text-container {
      @include text-font;
      line-height: 1.5;
      text-align: justify;
    }
  }
  .items-wrapper {
    @include make-col(3, 70px);
  }
}

/***
* IN BETWEEN SIZE
********************************/

@media screen and (max-width: 1130px) {
  #herbarium #herbarium-img {
    width: 400px;
  }
  #herbarium #herbarium-title {
    font-size: 8rem;
    bottom: 300px;
    left: 54%;
    transform: rotate(0deg);
  }

  #herbarium .search-container {
    bottom: 130px;
  }

  //***PRODUCT DETAIL****//
  .product-detail-inner {
    .right-section {
      width: 60%;
    }
  }
}

/***
* IN BETWEEN SIZE
********************************/

@media screen and (max-width: 1000px) {
  #herbarium #herbarium-title {
    left: 500px;
    font-size: 9rem;
  }
}

/***
*SMALL SCREEN
********************************/
@media screen and (max-width: 900px) {
  .content-container {
    width: 40%;
  }
  .items-wrapper {
    @include make-col(2, 70px);
  }

  //***HERBARIUM****//
  .container .inner-container {
    display: block;
  }

  #herbarium #herbarium-title {
    position: static;
    margin-left: 20px;
    font-size: 8rem;
    margin-top: 50px;
  }
  #herbarium .search-container {
    width: 45%;
    position: static;
    margin-left: 20px;
  }
  #herbarium .result-list {
    right: 220px;
  }

  //***PLANT DETAIL****//
  .container .inner-container {
    display: block;
  }
  #plant-detail #detail-img {
    width: 80%;
    margin: 30px auto;
  }
  #plant-detail .content-container {
    width: 80%;
    margin: 30px auto;
  }
  //***SHOP CATEGORIES****//
  .section-shop {
    width: 101%;
  }
}

/***
*IPAD
********************************/

@media screen and (max-width: 768px) {
  .quote-text {
    right: 10px;
    font-size: 2.5rem;
    width: 80%;
  }
  .overview-section {
    width: 95%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .container .image-container-horizontal {
    width: 500px;
  }
  .container .image-container-vertical {
    width: 500px;
  }
  .container .content-container .title-container {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  .container .content-container .text-container {
    font-size: 1.3rem;
  }

  //***HERBARIUM****//
  #herbarium #herbarium-img {
    width: 45%;
  }

  #herbarium .search-container {
    margin-top: 100px;
  }

  //***PLANT DETAIL****//

  .inner-content {
    font-size: 1rem;
    .subtitle-container {
      font-size: 2rem;
      .content-title {
        font-size: 2.5rem;
      }
    }
  }

  //***PRODUCT DETAIL****//
  .product-detail-inner {
    display: block;
    .left-section {
      width: 100%;
    }
    .right-section {
      width: 100%;
    }
  }
  //***CART****//
  .inner-cart .cart-totals {
    margin-top: 400px;
  }
  //***CHECKOUT****//
  .checkout-inner {
    display: block;
    .checkout-overview {
      width: 80%;
      margin: 0px auto 50px auto;
    }
    .checkout-form {
      width: 90%;
      margin-right: 0px;
      margin-left: 20px;
      margin-bottom: 30px;
      .checkout-title {
        margin-bottom: 30px;
      }
    }
  }
}

/***
* IN BETWEEN SIZE
********************************/

@media screen and (max-width: 660px) {
  #herbarium .result-list {
    position: static;
    margin-bottom: 50px;
  }
  #herbarium .search-container {
    width: 72%;
  }

  #plant-detail .inner-content .text-container .flex {
    display: block;
  }

  #plant-detail
    .inner-content
    .text-container
    .subtitle-container
    .content-title {
    font-size: 3rem;
    text-transform: uppercase;
    width: 590px;
    transform: rotate(0deg);
    position: static;
  }
}

/***
*SMARTPHONE
********************************/
@media screen and (max-width: 550px) {
  // * {
  //   background: #000 !important;
  //   color: #0f0 !important;
  //   outline: solid #f00 1px !important;
  // }

  .container {
    min-height: 186vh;
  }

  //***NAVBAR****//
  .nav-container {
    justify-content: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
    .main-title {
      font-size: 2rem !important;
    }
    .full-menu {
      margin-left: auto;
      .menu-section {
        display: none !important;
      }
    }
    .dropdown {
      display: flex !important;
      .hamburger-menu {
        display: block;
      }
    }
  }

  //***HOMEPAGE****//
  #landingpage .quote-text {
    bottom: 148px;
    right: 34px;
  }

  #about .overview-section {
    display: block;
  }
  .container .content-container {
    width: 100%;
    margin-left: 0;
  }
  .container .content-container .title-container {
    font-size: 1.5rem;
    margin-top: 30px;
  }

  .container .image-container-horizontal {
    width: 250px;
  }
  .container .image-container-vertical {
    width: 250px;
  }

  //***HERBARIUM****//
  .container .inner-container {
    display: block;
  }
  #herbarium #herbarium-title {
    font-size: 6rem;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
  }
  #herbarium #herbarium-img {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }
  #herbarium .result-list {
    margin: 0 auto;
    position: static;
  }
  #herbarium .search-container {
    width: 90%;
    margin: 100px auto;
    margin-top: 300px;
    position: static;
  }

  //***PLANT DETAIL****//

  #plant-detail
    .content-container
    .inner-container
    .text-container
    .subtitle-container {
    width: 100%;
  }

  #plant-detail
    .content-container
    .inner-container
    .text-container
    .subtitle-container
    .content-title {
    position: static;
    transform: rotate(0deg);
  }

  #plant-detail .inner-content .text-container .flex {
    display: block;
  }

  .inner-content .text-container .list-container {
    margin-left: 20px;
  }

  #plant-detail
    .inner-content
    .text-container
    .subtitle-container
    .content-title {
    margin-left: 20px;
    font-size: 2rem;
  }

  #plant-detail .content-container .arrow-container {
    right: 13px;
  }

  //***SHOP****//
  .items-wrapper {
    @include make-col(1, 70px);
  }
  .hero {
    .border-outer {
      width: 300px;
      height: 80px;
      .border-inner {
        width: 260px;
        padding: 20px;
      }
    }
    .category {
      @include page-title;
      font-size: 3rem;
      color: $white;
      text-align: center;
    }
  }

  .inner-cart .cart-products {
    display: block;
    border-bottom: none;
    height: 300px;
    overflow-y: auto;
    .quantity {
      justify-content: center;
      border-right: none;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .icon {
      margin-top: 20px;
    }
    .product-price {
      display: block;
    }
  }
  .inner-cart .cart-totals {
    margin-top: 50px;
  }

  .footer-container {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 96%;
    margin: 0 auto;
  }
  .footer-container .footer-text .footer-title {
    font-size: 1.8rem;
  }
  .footer-container .footer-text:after {
    width: 150px;
  }
}
