@import "./variables";
@import "./mixins";

/***
*BIG LAPTOP SCREEN
********************************/
@media screen and (max-width: 1500px) {
  //***HERBARIUM****//

  #herbarium #herbarium-img {
    width: 28%;
  }
  #herbarium #herbarium-title {
    bottom: 35%;
    left: 20%;
  }
  #plant-detail #detail-img {
    width: 400px;
  }
  .content-container {
    width: 45%;
    margin-left: 9rem;
    .inner-content .text-container .subtitle-container .content-title {
      font-size: 3rem;
      bottom: 290px;
    }
  }
}

/***
*13" SCREEN
********************************/
@media screen and (max-width: 1366px) {
  //***HERBARIUM****//

  #herbarium #herbarium-img {
    width: 31%;
  }
  #herbarium #herbarium-title {
    bottom: 250px;
  }
  .content-container {
    width: 45%;
    .title-container {
      @include title-font;
      font-size: 1.4rem;
      margin-bottom: 3rem;
    }
    .text-container {
      @include text-font;
      line-height: 1.5;
      text-align: justify;
    }
  }
  .items-wrapper {
    @include make-col(3, 70px);
  }
}

/***
*SMALL SCREEN
********************************/
@media screen and (max-width: 900px) {
  .content-container {
    width: 50%;
  }
  .items-wrapper {
    @include make-col(2, 70px);
  }

  //***HERBARIUM****//
  .container .inner-container {
    align-items: flex-start;
  }

  #herbarium #herbarium-title {
    left: 39%;
    transform: rotate(0deg);
    font-size: 9rem;
  }
  #herbarium .search-container {
    width: 45%;
  }
}

/***
*IPAD
********************************/

@media screen and (max-width: 768px) {
  .quote-text {
    right: 10px;
    font-size: 2.5rem;
    width: 80%;
  }
  .overview-section {
    width: 90%;
    padding-left: 3%;
    padding-right: 3%;
  }

  //***HERBARIUM****//
  #herbarium #herbarium-title {
    left: 43%;
    bottom: 250px;
    font-size: 8rem;
  }
  #herbarium #herbarium-img {
    width: 45%;
  }

  #herbarium .result-list {
    right: 30%;
  }

  #herbarium .search-container {
    width: 54%;
    right: 50px;
    bottom: 115px;
  }

  //PLANT DETAILS
  .container .inner-container {
    display: block;
  }
  #plant-detail #detail-img {
    width: 80%;
    margin: 30px auto;
  }
  #plant-detail .content-container {
    width: 80%;
    margin: 30px auto;
  }

  .inner-content {
    font-size: 1rem;
    .subtitle-container {
      font-size: 2rem;
      .content-title {
        font-size: 2.5rem;
      }
    }
  }

  //***SHOP CATEGORIES****//
  .section-shop {
    width: 101%;
  }
  //***PRODUCT DETAIL****//
  .product-detail-inner {
    display: block;
    .left-section {
      width: 100%;
    }
    .right-section {
      width: 100%;
    }
  }
  //***CART****//
  .inner-cart .cart-totals {
    margin-top: 400px;
  }
  //***CHECKOUT****//
  .checkout-inner {
    display: block;
    .checkout-overview {
      width: 80%;
      margin: 0px auto 50px auto;
    }
    .checkout-form {
      width: 90%;
      margin-right: 0px;
      margin-left: 20px;
      margin-bottom: 30px;
      .checkout-title {
        margin-bottom: 30px;
      }
    }
  }
}

/***
*SMARTPHONE
********************************/
@media screen and (max-width: 550px) {
  // * {
  //   background: #000 !important;
  //   color: #0f0 !important;
  //   outline: solid #f00 1px !important;
  // }

  //***NAVBAR****//
  .nav-container {
    justify-content: flex-start;
    .main-title {
      font-size: 2rem !important;
    }
    .full-menu {
      margin-left: auto;
      .menu-section {
        display: none !important;
      }
    }
    .dropdown {
      display: flex !important;
      .hamburger-menu {
        display: block;
      }
    }
  }

  //***HOMEPAGE****//
  .quote-text {
    font-size: 2rem;
    bottom: 90px;
    width: 60%;
  }

  //***HERBARIUM****//
  .container .inner-container {
    display: block;
  }
  #herbarium #herbarium-title {
    position: static;
    font-size: 7rem;
    margin-top: 20px;
    text-align: center;
  }
  #herbarium #herbarium-img {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }
  #herbarium .result-list {
    margin: 0 auto;
    position: static;
    height: 150px;
    overflow-y: auto;
  }
  #herbarium .search-container {
    width: 90%;
    margin: 60px auto;
    margin-bottom: 60px;
    position: static;
  }
  //***SHOP****//
  .items-wrapper {
    @include make-col(1, 70px);
  }
  .hero {
    .border-outer {
      width: 300px;
      height: 80px;
      .border-inner {
        width: 260px;
        padding: 20px;
      }
    }
    .category {
      @include page-title;
      font-size: 3rem;
      color: $white;
      text-align: center;
    }
  }

  .inner-cart .cart-products {
    display: block;
    border-bottom: none;
    height: 300px;
    overflow-y: auto;
    .quantity {
      justify-content: center;
      border-right: none;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .icon {
      margin-top: 20px;
    }
    .product-price {
      display: block;
    }
  }
  .inner-cart .cart-totals {
    margin-top: 50px;
  }
}

/***
*IN BETWEEN SIZES
********************************/

@media screen and (max-width: 1000px) {
  #herbarium #herbarium-title {
    left: 21%;
    // transform: rotate(0deg);
    font-size: 9rem;
  }
}
