@import "./variables";

.product-info {
  overflow: auto;
  padding: 60px;
  @include text-font;
  .product-title {
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .to-cart-form {
    width: 100%;
    margin-top: 30px;
    input {
      @include text-font;
    }
    .add-btn {
      width: 90px;
      border: 1px solid black;
      line-height: 1.9;
      @include text-font;
    }
  }
  .product-description {
    margin-top: 40px;
  }
  .plant-list {
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    &-item {
      margin-right: 15px;
      margin-bottom: 15px;
      text-transform: capitalize;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
