@import "./variables";

.product-info {
  overflow: auto;
  padding: 60px;
  @include text-font;
  line-height: 1.5;
  font-size: 1.5rem;
  .product-title {
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .product-price {
    margin-bottom: 15px;
  }
  .stock-msg {
    color: $accent-yellow;
    // background-color: $light-orange;
    line-height: 2;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .btn-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    input {
      @include text-font;
    }
    .add-btn {
      width: 90px;
      border: 1px solid black;
      line-height: 1.9;
      @include text-font;
      &:hover {
        background-color: $accent-pink;
        color: white;
        border: 1px solid white;
      }
    }
  }
  .product-description {
    margin-top: 40px;
    // background-color: $white;
    padding: 10px;
  }
  .plant-list {
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    &-item {
      margin-right: 15px;
      margin-bottom: 15px;
      text-transform: capitalize;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
