@import url("https://fonts.googleapis.com/css2?family=Arapey&family=Jura:wght@300;400&display=swap");

//fonts
@mixin title-font {
  font-family: "Jura";
  font-size: 30px;
  font-weight: light;
  color: $title-color;
  text-decoration: none;
}

@mixin page-title {
  font-family: "Arapey";
  font-size: 110px;
  color: $accent-yellow;
  text-transform: uppercase;
  transform: rotate(270deg);
}

@mixin quote-font {
  font-family: "Arapey";
  font-size: 22px;
}

@mixin text-font {
  font-family: "Jura";
  font-size: 16px;
}

@mixin menu-font {
  font-family: "Jura";
  font-size: 20px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
}

//colors
$title-color: #36131d;
$subtitle-color: #5d1f20;
$text-color: #65495c;
$accent-yellow: #e59c2b;
$accent-pink: #bc2e69;
$dark-green: #6a8161;
$light-green: #a4ada4;
$white: rgb(241, 240, 240);
